<GridLayout>

<ActionBar title="" class="header">
    <Label class="protocol-action-bar-content" textWrap="true" text="{{chartName}}" ></Label>
    <ActionItem text="Home" [nsRouterLink]="['/']" clearHistory="true" style="color:white"
                ios.position="right" android.position="right">
    </ActionItem>
</ActionBar>

<ActivityIndicator [busy]="isBusy" width="80" height="80"></ActivityIndicator>

<ScrollView height="{{(dHeight-200)+'px'}}">
   <StackLayout *ngIf="nodeList == null && protocolList == null && loaded" class="bg-info">-->
       <Label textWrap="true" *ngIf="nodeList.length <= 0" horizontalAlignment="center" class="center" style="margin:15px"
              text="No data available for {{ chartName }}">
       </Label>
   </StackLayout>
   <StackLayout  *ngIf="nodeList != null && protocolList != null && nodeList.length > 0 || protocolList.length > 0" >
           <StackLayout *ngIf="nodeList.length > 0">
               <StackLayout>
                   <Label class="label-list" text="Categories"></Label>
               </StackLayout>
               <ListView #listview [items]="nodeList" separatorColor="transparent"
                         [height]="nodeList.length*55" (itemTap)="onItemTap($event)">
                   <ng-template let-item="item">
                       <StackLayout width="100%" height="50" orientation="horizontal" style="border-bottom-width: 1px;border-color: #A9A9A9">
                           <Label textWrap="true" width="75%" class="content" [text]='item.content'></Label>
                           <Label width="10%" [text]="item.pclSize" class="pcl-size"></Label>
                           <Label width="10%" class="icon list-icon"  [text]='"&#xea43;"'></Label>
                       </StackLayout>
                   </ng-template>
               </ListView>
           </StackLayout>
           <StackLayout *ngIf="protocolList != null && protocolList.length > 0">
               <StackLayout>
                   <StackLayout>
                       <Label  *ngIf="protocolList.length == 1 && nodeList.length == 0" class="label-list" text="Protocol"></Label>
                       <Label  *ngIf="protocolList.length > 1 && nodeList.length == 0" class="label-list" text="Protocols"></Label>
                       <Label  *ngIf="protocolList.length > 0 && nodeList.length > 0" class="label-list" textwrap="true" text="{{ chartName }} Protocols"></Label>
                   </StackLayout>
                   <ListView #listview [items]="protocolList"
                             separatorColor="transparent"
                             [height]="protocolList.length*115" (itemTap)="onProtocolTap($event)">
                       <ng-template let-item="item">
                           <StackLayout orientation="horizontal" style="border-bottom-width: 1px;border-color: #A9A9A9">
                               <StackLayout  height="100" width="85%" orientation="vertical">
                                   <Label class="content"  [text]='item.protocolNo'></Label>
                                   <Label textWrap="true" class="protocol-summary"  [text]="item.protcolTitle"></Label>
                               </StackLayout>
                               <Label width="10%" class="icon list-icon" [text]='"&#xea43;"'></Label>
                           </StackLayout>
                       </ng-template>
                   </ListView>
               </StackLayout>
           </StackLayout>
  </StackLayout>
</ScrollView>

</GridLayout>
